{% extends 'base.html' %}
{% block title %}Index{% endblock %}

{% block navbar %}
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/index">Index</a>
  <a class="navbar-brand" href="/about">About</a>
  {% if email %}
  <a class="navbar-brand" href="/post">Post</a>
  <a class="navbar-brand" href="/logout">Logout</a>
  {% else %} 
  <a class="navbar-brand" href="/login">Login</a>
  <a class="navbar-brand" href="/register">Register</a>
  {% endif %}
</nav>
{% endblock %}

{% block content %}
<p>
{% with messages = get_flashed_messages() %}
  {% if messages %}
      <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</p>
<p>
  This is about the blog, and perhaps something interesting can be discovered here.
  I have a cool website here as well <a href="https://www.wyatthorton.xyz">wyatthorton.xyz</a>
</p>
{% endblock %}
