{% extends 'base.html' %}
{% block title %}Index{% endblock %}

{% block navbar %}
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/index">Index</a>
  <a class="navbar-brand" href="/about">About</a>
  {% if email %}
  <a class="navbar-brand" href="/post">Post</a>
  <a class="navbar-brand" href="/logout">Logout</a>
  {% else %} 
  <a class="navbar-brand" href="/login">Login</a>
  <a class="navbar-brand" href="/register">Register</a>
  {% endif %}
</nav>
{% endblock %}

{% block content %}
<p>
{% with messages = get_flashed_messages() %}
  {% if messages %}
      <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
      <h2> Admin Panel</h2>
      <div class="tab">
	<button id="defaultOpen" class="tablinks" onclick="openCity(event, 'Users')">Users</button>
	<button class="tablinks" onclick="openCity(event, 'Posts')">Posts</button>
      </div>

      <div id="Users" class="tabcontent">
      <table class="table">
	<thead>
	  <tr>
	  <th scope="col">ID</th>
	  <th scope="col">First</th>
	  <th scope="col">Last</th>
	  <th scope="col">Email</th>
	  <th scope="col">Password</th>
	  <th scope="col">Created</th>
	  <th scope="col">Admin</th>
	  </tr>
	</thead>
	<tbody>
  {% for user in users %}
  <tr>
    <th scope="row">{{ users[user]["id"] }}</th>
    <td>{{ users[user]["fname"] }}</td>
    <td>{{ users[user]["lname"] }}</td>
    <td>{{ users[user]["email"] }}</td>
    <td>{{ users[user]["password"] }}</td>
    <td>{{ users[user]["created"] }}</td>
    <td>{% if users[user]["authed"] == 1 %}True {% else %} {% endif %}</td>
  </tr>

  {% endfor %}
	</tbody>
      </table>
      </div>

      <div id="Posts" class="tabcontent">
      <table class="table">
	<thead>
	  <tr>
	  <th scope="col">ID</th>
	  <th scope="col">Author</th>
	  <th scope="col">Title</th>
	  <th scope="col">Body</th>
	  <th scope="col">Created</th>
	  </tr>
	</thead>
	<tbody>
  {% for post in posts %}
  <tr>
    <th scope="row">{{ posts[post]["id"] }}</th>
    <td>{{ posts[post]["author"] }}</td>
    <td>{{ posts[post]["title"] }}</td>
    <td>{{ posts[post]["body"] }}</td>
    <td>{{ posts[post]["created"] }}</td>
  </tr>

  {% endfor %}
	</tbody>
      </table>
      </div>
	  

</p>
{% endblock %}

        {% block tab %}
            <!-- Optional JavaScript -->
<script>
// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>
        {% endblock %}
